<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ProjectName</key>
	<string>CF485F8F-7B1F-4CD0-BA8F-A0F8F87DC00C</string>
	<key>SDK</key>
	<string>iPhoneOS15.6.sdk</string>
</dict>
</plist>